<!DOCTYPE html>
<html>
	<head>
		<title>Andoird Remote Control Server</title>
	</head>

	<body>
		<h1>Android Remote Control is:</h1>
		<ol>
			<li>
				free software student project, developed by Zalim Bashorov and Mike Krinkin
				solely on their own enthusiasm and under the pressure of professors of SPbAU
			</li>
			<li>
				fun way to spend free time developing Android application
			</li>
			<li>
				attempt to turn Android device to Swiss knife (without knife)
			</li>
		</ol>
		
		<h1>Andoid Remote Control is not:</h1>
		<ol>
			<li>
				TBD
			</li>
		</ol>
		
		<h1>Links:</h1>
		<ol>
			<li>
				<a href="https://github.com/bashor/RemoteControl">project on github</a>
			</li>
			<li>
				<a href="http://code.google.com/p/robot-mitya/">droid Mitya, we are going to make drive</a>
			</li>
		</ol>
		<div id="cursor" style="position: absolute; width:10; height:10; background-color:red; top:0; left:0; color:red">
			<span id="left">[</span>
			<span id="right">]</span>
		</div>
	</body>

	<script type="text/javascript">
		var from = 2;
		var to = 1;
		var cursor = document.getElementById("cursor");
		var left = document.getElementById("left");
		var right = document.getElementById("right");
		var cursorX = 0;
		var cursorY = 0;

		var DISCONNECTED_COLOR = "red"
		var WITHOUTPARTNER_COLOR = "yellow"
		var CONNECTED_COLOR = "green"
		var DOWN_COLOR = "lime"
		var UP_COLOR = CONNECTED_COLOR

		function connect() {
			var socket = new WebSocket("ws://" + document.location.host + "/websocket?from=" + from + "&to=" + to);

			socket.onopen = function () {
				cursor.style.backgroundColor = CONNECTED_COLOR;
			};

			socket.onmessage = function(event) {
				var data = JSON.parse(event.data)

				function calcOffset(delta, max) {
					var absDelta = Math.abs(delta);
					return delta * max * 0.7
				}

				if (data.type === "onMove") {
					cursorX += calcOffset(data.dx, window.innerWidth);
					cursorY += calcOffset(data.dy, window.innerHeight);
					cursor.style.left = cursorX + "px";
					cursor.style.top = cursorY + "px";
				} else if (data.type === "onDownLeftButton") {
					left.style.backgroundColor = DOWN_COLOR;
				} else if (data.type === "onUpLeftButton") {
					left.style.backgroundColor = UP_COLOR;
				} else if (data.type === "onDownRightButton") {
					right.style.backgroundColor = DOWN_COLOR;
				} else if (data.type === "onUpRightButton") {
					right.style.backgroundColor = UP_COLOR;
				}
			}

			socket.onclose = function () {
				cursor.style.backgroundColor = DISCONNECTED_COLOR;
				left.style.backgroundColor = "transparent";
				right.style.backgroundColor = "transparent";

				setTimeout(function() {
					connect();
				}, 1000);	
			}
		}

		connect();
	</script>
</html>

