<!DOCTYPE html>
<html>
	<head>
		<title>Andoird Remote Control Server</title>
	</head>

	<body>
		<h1>Android Remote Control is:</h1>
		<ol>
			<li>
				free software student project, developed by Zalim Bashorov and Mike Krinkin
				solely on their own enthusiasm and under the pressure of professors of SPbAU
			</li>
			<li>
				fun way to spend free time developing Android application
			</li>
			<li>
				attempt to turn Android device to Swiss knife (without knife)
			</li>
		</ol>
		
		<h1>Andoid Remote Control is not:</h1>
		<ol>
			<li>
				TBD
			</li>
		</ol>
		
		<h1>Links:</h1>
		<ol>
			<li>
				<a href="https://github.com/bashor/RemoteControl">project on github</a>
			</li>
			<li>
				<a href="http://code.google.com/p/robot-mitya/">droid Mitya, we are going to make drive</a>
			</li>
		</ol>
	</body>
</html>

